.hints {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  background: #fff;
  font-size: 1em;
  font-family: inherit;
  left: 0;
  top: 70%;
  max-height: 225px;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  margin-top: 25px;
  border-radius: 5px;
  animation: listAppear 0.2s ease-in-out;
  &__item {
    padding: 15px 30px;
    font-family: inherit;
    min-width: 100%;
    min-height: 45px;
    margin-bottom: 1px;
    transition: all 0.2s ease-in-out;
    animation: listAppear 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      color:#fff;
      background: rgba(0,0,0,0.2);
    }
    &::before {
      display: inline-block;
      content: '';
      width: 25px;
      height: 100%;
      margin-right: 5px;
      background: url("/images/icons8-marker-100.png") no-repeat center center;
      background-size: contain;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 768px) {
  .hints {
    top: 220px;
  }
}

@keyframes listAppear {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}