.checkbox-row{
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 0.85em;
  align-items: center;
  margin-bottom: 20px;
  &__label{

  }

  &__check{
    vertical-align: middle;
    display: inline-block;
    min-width: 25px;
    margin-right: 20px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid #eee;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease-in-out;
    background: #eee;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      left: calc(50% - 8px);
      top: calc(50% - 7px);
      width: 13px;
      transform: rotate(-45deg);
      height: 6px;
      border-left: 3px solid #bbb;
      border-bottom: 3px solid #bbb;
    }
    &--checked{
      border: 2px solid #5FD080;
      background: #5FD080;
      &::after{
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
      }
    }
  }
  &__input{
    display: none;
  }
}