.container {
  min-height: calc(100vh - 80px);
  height:100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &--centered-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
  }
}