.checkout {
  padding: 20px 0;
  &__header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  &__proposition-table {
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 1.1em;
  }
  &__form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  &__button {
    margin: 15px 0;
    max-width: 250px;
  }
}
.proposition-table {
  &__cell {
    font-family: 'Montserrat', sans-serif!important;
    font-size: 0.85em!important;
    &--header {
      font-family: 'Montserrat', sans-serif!important;
      font-weight: bold!important;
      font-size: 1.15em!important;
    }
  }
}