.facility {
  display: flex;
  min-width: 15%;
  padding: 10px 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  &__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.85em;
  }
  &__icon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    &--empty {
      display: none;
    }
  }
}

.facilities {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
  }
}