.auth-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  max-height: 600px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  &__sign-in, &__sign-up {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    max-height: 500px;
    border-radius: 5px;
    background: #342D5B;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    &--active {
      position: relative;
      z-index: 1;
      box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.6);
      width: 60%;
      height: 100%;
      background: #fff;
    }
  }
}

.sign-form {
  position: relative;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  &__text {
    min-width: 100%;
  }
  &__input-wrapper {
    min-width: 100%;
  }
  &__input-label {
    font-size: 0.7em;
    display: block;
    margin-bottom: 5px;
  }
  &__input-error {
    font-size: 0.7em;
    display: block;
    color: #F20000;
    margin-top: 5px;
  }
  &__login-input, &__password-input {
    font-size: 0.7em;
    padding: 10px 20px;
    min-width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }
  &__sign-button {
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px;
    border: none;
    background: #008B4C;
    color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }
  &__loader {
    position: absolute;
    left: 50%;
    bottom: -55px;
    margin-left: -20px;
  }
}

.agitation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  &__text {
    text-align: center;
    padding: 25px;
    color: #fff;
    min-width: 100%;
  }
  &__button {
    font-size: 1.05em;
    padding: 15px;
    border: none;
    background: rgba(95, 208, 108, 0.9);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .auth-form {
    max-width: 1200px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .auth-form {
    flex-wrap: wrap;
    &__sign-in, &__sign-up {
      width: 100%;
      order: 2;
      height: auto;
      min-height: 200px;
      transition: backround 0.2s ease;
      &--active {
        order: 1;
        width: 100%;
        height: auto;
        min-height: 300px;
      }
    }
  }

  .sign-form {
    width: 80%;
    height: 100%;
    &__text,
    &__login-input,
    &__password-input {
      margin-bottom: 25px;
    }
    &__loader {
      bottom: unset;
      left: unset;
      right: 10px;
      top: -35px;
      margin-left: -25px;
    }
  }

  .agitation {

  }
}
