.search-filter{
  opacity: 0.3;
  position: sticky;
  top: 100px;
  color:#fff;
  padding: 10px 20px;
  border-radius: 5px;
  height: 100%;
  width:25%;
  min-width: 200px;
  box-shadow: 3px 1px 7px rgba(0,0,0,0.3);
  background: #332F5F;
  &__agitation{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 50px;
  }
  &__filters{
    width:50%;
    min-width: 180px;
  }
}

@media screen and (max-width: 768px){
  .search-filter {
    position: static;
    width: 100%;
  }
}