
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, p, span, div {
    font-family: 'Montserrat', sans-serif;
    line-height: 16px;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

main {
    padding-top: 80px;
}