.available-place {
  display: flex;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 10px;
  max-width: 250px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  &--active{
    transform: translate(-5px,-5px) scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4),3px 3px 10px rgba(0,0,0,0.5)
  }
  &__name{
    max-width: 85%;
    min-height: 50px;
    margin: 10px 20px;
    font-size: 0.85em;
    line-height: 18px;
    align-self: flex-start;
  }
  &__capacity {
    min-width: 100%;
    font-size: 0.75em;
    &::before{
      content: '';
      width:40px;
      height: 40px;
      display: inline-block;
      vertical-align: text-bottom;
      background: url("/images/icons8-user-64.png") no-repeat center center;
      background-size: contain;
    }
  }
  &__price{
    min-width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: bold;
  }
  &__beds{
    min-width: 100%;
  }
  &__button{
    align-self: flex-end;
  }
}

.bed {
  min-width: 100%;
}

@media screen and (max-width: 768px){
  .available-place {
    max-width: 450px;
    margin-right: 0;
  }
}