.owner {
  margin-top: 50px;
  &__header {
    font-size: 1.55em;
    font-weight: bold;
    margin-bottom: 35px;
  }
  &__platform {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.42);
    display: flex;
    flex-direction: column;
  }
}

.platform {
  &__propagation-text {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}
.row {
  &__text {
    margin-left: 5px;
  }
  &__button {
    max-width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {

}