.profile {
  display: flex;
  justify-content: space-between;
  &__left {
    width: 30%;
    max-width: 310px;
  }
  &__right {
    margin-top: 50px;
    width: 65%;
  }

  &__header {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.details {
  &__form {
    display: flex;
    flex-direction: column;
  }
}

.form {
  &__fields-wrapper {
    margin-bottom: 15px;
    padding: 10px 20px;
  }
}

.history {
  &__table {
    margin: 15px 0;
  }
}

.table {
  &__cell {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.85em !important;
    &--header {
      font-family: 'Montserrat', sans-serif !important;
      font-weight: bold !important;
      font-size: 1.15em !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-wrap: wrap;
    &__left {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px;
    }
    &__right {
      width: 100%;
      margin-top: 0;
    }
  }

}