.settings {
  margin-top: 50px;
  width: 100%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 5px 5px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__item {
    text-align: center;
    line-height: inherit;
    width: 90%;
    margin-top: 20px;
    color: #FFF;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.35);
    padding: 10px;
    background: #654AA8;
    transition: all 0.2s ease-in-out;
    &:not(.active):hover {
      transform: translateX(10px);
    }

    &--active {
      cursor: default;
      border-left: 3px solid #4a337a;
      transform: translateX(10px);
      text-shadow: 0px 0px 10px #fff;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .settings {
    max-width: 100%;
  }
}