.btn{
    width:100%;
    background: #5FD080;
    border: none;
    font-size: 1em;
    color: #fff;
    font-family: inherit;
    border-radius: 5px;
    box-shadow: 0px 2px 0 0 #1f9040;
    display: block;
    padding: 15px 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0 0 #1f9040;
}
.btn:hover, .btn:active, .btn:visited {
    outline: none;
}