.bed--small {
  font-size: 0.75em;
  &::before {
    content: '';
    width: 40px;
    height: 40px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: text-bottom;
    background: url("/images/icons8-single-bed-64.png") no-repeat center center;
    background-size: contain;
  }
}

.bed--big {
  font-size: 0.7em;
  &::before {
    content: '';
    width: 40px;
    height: 40px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: text-bottom;
    background: url("/images/icons8-bedroom-64.png") no-repeat center center;
    background-size: contain;
  }
}

.persons {
  font-size: 0.75em;
  &::before{
    content: '';
    width:40px;
    height: 40px;
    display: inline-block;
    vertical-align: text-bottom;
    background: url("/images/icons8-user-64.png") no-repeat center center;
    background-size: contain;
  }
}