.search-items {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  animation: itemAppears 0.3s ease-in-out;
  &__image {
    width: 40%;
    height: 100%;
    margin-right: 30px;
    &:hover {
      cursor: pointer;
    }
  }
  &__modifiers {
    width: 10%;
    max-height: 95%;
  }

}

.description {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  max-height: 95%;
  margin-right: 30px;
  &__title {
    font-size: 1.1em;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  &__address {
    width: 100%;
    margin-bottom: 20px;
    &::before {
      content: '';
      width: 15px;
      height: 20px;
      display: inline-block;
      background: url("/images/icons8-marker-100.png") no-repeat center center;
      background-size: contain;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  &__description {
    padding-left: 10px;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 20px;
  }
  &__price {
    width: 100%;
    font-weight: bold;
    font-size: 1.05em;
  }
}

@media screen and (max-width: 768px) {
  .search-items {
    width: 100%;
  }

  .item {
    flex-wrap: wrap;
    &__image {
      width: 100%;
      margin: 0 auto;
      height: 280px;
      margin-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .description {
    width: 100%;
    margin: 0 auto;
    &__title {
      margin-bottom: 20px;
    }
    &__description {
      padding-left: 0;
    }
  }
}

@keyframes itemAppears {
  0% {
    transform: translateX(100%) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}