.navbar{
  z-index: 10;
  justify-content: space-between;
  position:fixed;
  top:0;
  min-width:100%;
  height:80px;
  display:flex;
  background:rgba(255,255,255,0.85);
  box-shadow:0px 2px 12px rgba(0,0,0,0.25);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: top 0.2s ease-in-out;
  &--minified {
    top: -90px;
  }

  &__left,
  &__right{
    width:80%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:10px;
  }
  &__left{
    justify-content: flex-start;
    width: 10%;
  }

  &__menu-toggle{
    display: none;
  }
  &__search-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:35px;
    margin-right: 30px;
    max-width: 400px;
    position: relative;
}
  .search-bar__input{
    font-family: inherit;
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  }
  .search-bar__button{
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    font-family: inherit;
    width: 25%;
    min-width: 80px;
    background: #5FD080;
    border: none;
    color: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    &:hover{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px){
  .navbar{
    align-items: center;
    justify-content: space-between;
    &__left{
      width: 100%;
    }
    &__menu-toggle{
      padding:10px;
      margin-right: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 50px;
    }
    &__search-bar{
      margin-right: 0;
      max-width: 100%;
    }
    &__right{
      display: none;
      &--mobile-opened{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: fixed;
        z-index: 9999;
        background: #fff;
        left:0;
        top:0;
        width:65%;
        height:100%;
        box-shadow: 2px 0px 10px rgba(0,0,0,0.6);
        animation: showMobileMenu 0.1s ease-in;
      }
    }
  }
  .toggle__line{
    min-width: 100%;
    height: 5px;
    background: #008B4C
  }

}

@keyframes showMobileMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}