.item {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  &__image {
    height: 350px;
    width: calc(100% + 50px);
    margin-left: -25px;
    background-attachment: fixed;
    margin-bottom: 30px;
  }
  &__core-information {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
  }
}

.core {
  &__type {
    min-width: 100%;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  &__title {
    min-width: 100%;
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: 20px;
  }
  &__location {
    min-width: 100%;
    margin-bottom: 5px;
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 20px;
      height: 35px;
      background: url("/images/icons8-marker-100.png") no-repeat center center;
      background-size: contain;
    }
  }
  &__description {
    line-height: 24px;
  }
}

.available-places {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  .available-places {
    justify-content: center;
  }
}