.navLink{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 5px;
  width: 25%;
  max-width: 250px;
  min-width: 100px;
  margin-right: 5px;
  color:#000;
  border-radius: 5px;
  background: rgba(255,255,255,0.5);
  transition: all 0.2s ease-in-out;
  position: relative;
  &:hover{
    cursor: pointer;
    background: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
  }
  &--active{
    pointer-events: none;
    &::after{
      content:'';
      position: absolute;
      left:0;
      right:0;
      bottom: 0;
      height:5px;
      background: #1f9040;
      border-radius: 3px;
    }
  }
}

@media screen and (max-width: 768px){
  .navLink{
    min-width: 100%;
    max-width: 200px;
    height: 10%;
    background: rgba(35,213,71,0.2);
    margin: 0 auto;
  }
}