.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  margin-top: -80px;
  &__background {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: gradient 20s ease-in-out infinite;
  }
  &__search-bar {
    display: flex;
    position: relative;
    background: #fff;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, .55);
  }
  &__search-input {
    padding: 10px 20px;
    width: 70%;
    display: block;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-family: inherit;
    font-size: 1em;
    &:focus {
      transform: translate(-2px, -5px);
      box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.55)
    }
  }
  &__search-button {
    background: #5FD080;
    border: none;
    font-size: 1em;
    color: #fff;
    font-family: inherit;
    border-radius: 5px;
    box-shadow: 0px 2px 0 0 #1f9040;
    display: block;
    padding: 15px 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0px 5px 0 0 #1f9040;
    }
  }
}

@media screen and (max-width: 768px){
  .main-screen{
    &__search-bar{
      width: 80%;
      justify-content: center;
    }
    &__search-input{
      min-width: 100%;
      margin-bottom: 50px;
    }
    &__search-button{
      min-width: 100%;
    }
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}