.radio-row {
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 0.85em;
  align-items: center;
  margin-bottom: 20px;
  &__label {
    margin-left: 20px;
  }

  &__radio {
    display: block;
    min-width: 26px;
    height: 26px;
    border: 3px solid #eee;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    position: relative;
    border-radius: 50%;
    &::after {
      background: #bbb;
      position: absolute;
      content: '';
      left: calc(50% - 6px);
      top: calc(50% - 6px);
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    &--checked {
      border: 2px solid #5FD080;
      &::after {
        background: #5FD080;
      }
    }
  }
  &__input {
    display: none;
  }
}