.proposition {
  font-size: 1em;
  &__description {
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.45em;
  }
  &__main-info {
    margin-bottom: 30px;
    display: flex;
  }
  &__info-item {
    margin-right: 10px;
  }
  &__header {
    &--small {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}