.search-results{
  padding-top: 25px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__pagination {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
}