.CalendarDay {
    vertical-align: middle;
}

.DateRangePicker_picker {
    position: static;
}

.DateRangePicker {
    margin-bottom: 50px;
}


@media screen and (max-width: 768px) {
    .skylight-dialog {
        width: 80%!important;
        margin-left: -40%!important;
        top: 30%!important
    }
}