.book {
  margin: 20px 0;
  &__header {
    font-weight: bold;
    font-size: 1.25em;
    margin: 20px 0;
  }
  &__check-button {
    max-width: 300px;
  }
  &__persons-amount {
    font: inherit;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .book {
    &__popup-content-wrapper {
      max-height: 600px;
      overflow: auto;
    }
  }
}